
@font-face {
    font-family: 'DINNeuzeitGrotesk';
    src: url('Página Login\fonts\DIN.ttf') format('truetype');
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'DINNeuzeitGrotesk LT Light', sans-serif;
    background-color: black;
  }

    .login-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
      height: 100vh; /* Ajusta la altura para que ocupe toda la pantalla */
      margin: 0 auto; /* Centrar horizontalmente el contenedor en la pantalla */
      background-color: black;
}



  .logo {
    text-align: center;
 
  }
  
  .logo img {
    width: 848.34px;
    height: 325.91px;
    margin-left: -200px;
  }
  
  .login-form {
   
    color: #fff;
    position: relative; 
    margin-left: -260px; /* Espacio entre la imagen y el formulario */
    margin-top: 200px;
    z-index: 1;
  }

  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido del formulario horizontalmente */
  }
  
  .login-title {
    position: absolute; /* Posicionamiento absoluto */
    bottom: 300px; /* Ajustamos la posición desde abajo */
    left: 837.5px; /* Lo centramos horizontalmente */
    transform: translateX(-50%); /* Centramos exactamente en el centro horizontal */
    color: #fff; /* Color del texto */
    font-size: 40px; /* Tamaño del texto */
}


  /* Estilo para las etiquetas "Usuario" y "Contraseña" */
  .login-form label {

    font-size: 20px;
    display: inline-block;
    width: 485px; /* Ajustamos el ancho del label para que tenga el mismo tamaño */
    border-bottom: 2px solid #ffffff; /* Agregamos subrayado blanco */
   padding-bottom:5px ;
  }
 
  
  /* Estilo para las cajas del formulario */
  .login-form input {
    margin-left: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 0;
    background-color: black; /* Fondo negro */
    color: #fff; /* Letras en blanco */
    margin-bottom: 15px;
    width: 100%;
    outline: none; /* Elimina el borde de enfoque */

  }
  

  
  /* Estilo para las etiquetas con subrayado */
  .login-form .form-item {
    display: grid;
    grid-template-columns: 100px auto; /* Ajustamos el ancho del label y el input */
    align-items: center;
    margin-bottom: 15px;
  }
  
  .login-form button {
    width: 212.33px;
    height: 36px;
    padding: 10px;
    background-color: #393E46;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: 30px;
 
  }
  